body {
    font-family: arial;
    font-size: small;
    background: #eeeeee;
    padding: 10px;

}

a {
    color: #000000;
    text-decoration: none;
    background: #eeeeee;
    box-shadow: 2px 2px 2px 2px rgba(33, 33, 33, 0.18);
    transition: all 0.2s;
    flex: auto;
    padding: 5px;

}

a:hover {
    background: #eeeeee;
    box-shadow: 3px 3px 3px 3px rgba(255, 0, 0, 0.18);
    transition: all 0.2s;
}

.content {
    max-width: 100px;
}

.link {
    padding: 10px;
}

.pixel {
    width: 20px;
    height: 20px;
}